*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    .logo img{
    width: 250px;
    margin-top: 40px;
    }
    header{
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 4% 40px 9%;
       //background-image:linear-gradient(#24252A,black);
        background-color: white;
       //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    nav .service li{
        display:flex;
        list-style: none;
        // padding: 0px 20px;
         margin-top: 50px;
    }
    .service a{
        text-decoration: none;
    }
    nav li .emr{
        float:right;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
    }
    .nav-item{
        margin-left: 80px;
        list-style-type: none;
        font-size: 18px;
        font-weight: 600;
    }
    .nav-item  a{
        color: black;
    }
    .nav-item .dropdown-menu li a{
        color: black;
        text-align: center;
        font-weight: 500;
    }
    .dropdown-menu button{
        border: none;
        background-color: white;
        margin-left: 30px;
    }
    nav{
        margin-right: 100px;
    }
    .image img{
        margin-top: 20px;
        width: 200px;
        margin-left: 380px;
    }
    //modal
.modal-header {
    padding: 10px;
  }
  .modal-header button{
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .modal-body{
   padding: 12px;
  }
  .modal-body input{
   padding: 5px;
   //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .modal-body select{
   padding: 5px;
   //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .modal-body button{
   padding: 5px 10px;
  }
  .modal-body label{
   font-weight: bold;
  }
  
  .modal-body span{
   padding: 0px 12px;
  }
  .modal-footer{
   padding: 10px;
  }
  .modal-footer button{
   padding: 5px 10px;
   margin-right: 5px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

    // mid
    .btn-group button {
        background-color:white;
        border: 1px solid lightgray;
        color:black;
        padding: 12px 88px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        cursor: pointer;
        border-bottom: none;
        border-top: none;
       }
       .btn-group{
            margin-left: 310px;
          }
          .mid{
              border-bottom: 1px solid lightgray;
              border-top: 1px solid lightgray;
              margin-top: 40px;
              background-color: white;
           }
     
      .active, .button:hover{
          background-color: red;
          color: white;
        }
        //   Frontpage
.frontpage {
    background-image: url('../assets/image/meds4.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: 120px;
}
.frontpage .description{
    margin-left: 950px;
    padding-top: 220px;
}
.description h1{
    font-size: 40px;
    color: red;
    font-weight: 600;
    letter-spacing: 1px;
}
.description a{
    text-transform: uppercase;
    background: #191938;
    padding: 15px 28px;
    display: inline-block;
    color:white;
    margin-top: 12px;
    text-decoration: none;
    border: 1px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.description p{
    font-size: 20px;
    font-weight: 500;
}
// footer
footer{
    margin-top: 60px;
  }
  .container{
    max-width: 1170px;
    margin: auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
.footer{
    background-color: #24262b;
    padding:70px 0 30px 0px;
}
.footer-col{
    width: 25%;
    padding: 0px 15px;
}
.footer-col h4{
    font-size: 22px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3 ease;
}
.footer-col ul li a:hover
{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0px 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links i{
    font-size: 20px;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}